<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <meta property="og:title" content="스위터 - 세상을 달달하게"/>
    <meta property="og:description" content="mini project for Web Plus"/>
    <meta property="og:image" content="{{ url_for('static', filename='ogimg.png') }}"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Jua&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='mystyle_main.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='myjs.js') }}"></script>
    <title>4feeling 즐거움</title>

    <script>
        $(document).ready(function () {
            listing('{{ page }}');
        });
    </script>
</head>

<body>
<section class="hero is-success">
        <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/user/{{user_info.username}}" style="text-decoration-line: none;">
                <strong class="is-sparta"
                        style="font-family: 'Stylish', sans-serif;font-size: medium;">My Page</strong>
            </a>
        </div>
    </nav>
    <div class="hero-body mytitle_sad mytitle">
        <p class="title">
            기분이 이럴때 이 음악을 들어보세요
        </p>
        <p class="subtitle">
            신나는 지금 이 노래는 어때요?
        </p>
        <button onclick="open_box()" >음악 기록하기</button>
    </div>
</section>
<nav class="level">
    <p onclick="location.href='/happy'" class="level-item has-text-centered">
        <a class="font link is-info">HAPPY</a>
    </p>
    <p onclick="location.href='/angry'" class="level-item has-text-centered">
        <a class="font link is-info">ANGRY</a>
    </p>
    <div class="mypost" id="post-box">
        <div class="form-floating mb-3">
            <input id="url" type="email" class="form-control" placeholder="name@example.com">
            <label>유튜브 URL</label>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">기분</label>
            <select class="form-select" id="inputGroupSelect01">
                <option selected>-- 선택하기 --</option>
                <option value="기쁨">기쁨</option>
                <option value="분노">분노</option>
                <option value="슬픔">슬픔</option>
                <option value="즐거움">즐거움</option>
            </select>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" ></textarea>
            <label for="floatingTextarea2">코멘트</label>
        </div>
        <div class="mybtn">
            <button onclick="posting()" class="button is-outlined">완료</button>
            <button onclick="close_box()" class="button is-outlined">닫기</button>
        </div>
    </div>
    <p onclick="location.href='/'" class="level-item has-text-centered">
        <a class="font link is-info">SAD</a>
    </p>
    <p onclick="location.href='/joy'" class="level-item has-text-centered">
        <a class="font link is-info">JOY</a>
    </p>
</nav>

<div class="wrap">
    <div id="cards_box" class="row row-cols-1 row-cols-md-4 g-4">
    </div>
</div>

</body>

</html>