<!doctype html>
<html lang="en">
<head>

    <!-- Webpage Title -->
    <title>{{ user_info.profile_name }} | 마이페이지</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <meta property="og:title" content="마이페이지"/>
    <meta property="og:description" content="mini project for Web Plus"/>
    <meta property="og:image" content="{{ url_for('static', filename='ogimg.png') }}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Jua&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='mystyle_main.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='myjs.js') }}"></script>
    <script>

        $(document).ready(function () {
            listing('{{ user_info.username }}')
        })
        function sign_out() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = "/login"
        }
        function update_profile() {
            let name = $('#input-name').val()
            let file = $('#input-pic')[0].files[0]
            let about = $("#textarea-about").val()
            //모달에 입력한 세가지를 모아서
            let form_data = new FormData()
            form_data.append("file_give", file)
            form_data.append("name_give", name)
            form_data.append("about_give", about)
            console.log(name, file, about, form_data)

            $.ajax({
                type: "POST",
                url: "/update_profile",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response["result"] == "success") {
                        alert(response["msg"])
                        window.location.reload()

                    }
                }
            });
        }
    </script>

</head>
<body>
<section class="hero is-medium is-info">
    <div class="hero-body">

    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
{#                <img src="{{ url_for('static', filename='logo.png') }}">#}
                <strong class="is-sparta"
                        style="font-family: 'Stylish', sans-serif;font-size: larger;">희노애락</strong>
            </a>
        </div>
    </nav>
     <article class="media" style="width: 500px; margin: auto">
            <figure class="media-left" style="align-self: center">
                <a class="image is-96x96" href="#">
                    <img class="is-rounded" src="{{ url_for('static', filename=user_info.profile_pic_real) }}">
                </a>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p >
                        <strong style="font-size: 30px" >{{ user_info.profile_name }}</strong> <small style="font-size: 25px">@{{ user_info.username }}</small>
                        <br>
                        {{ user_info.profile_info }}
                    </p>
                </div>

            </div>
        </article>
         {% if status %}
            <nav id="btns-me" class="level is-mobile" style="margin: 2rem auto 0 auto; width: 300px">
                <a class="button level-item has-text-centered is-sparta" aria-label="edit"
                   onclick='$("#modal-edit").addClass("is-active")'>
                    프로필 수정&nbsp;&nbsp;&nbsp;
                    <span class="icon is-small">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </span>
                </a>

                <a class="button level-item has-text-centered is-sparta is-outlined" aria-label="logout"
                   onclick="sign_out()">
                    로그아웃&nbsp;&nbsp;&nbsp;<span class="icon is-small"><i class="fa fa-sign-out"
                                                                         aria-hidden="true"></i></span>
                </a>
            </nav>
            <div class="modal" id="modal-edit">
                <div class="modal-background" onclick='$("#modal-edit").removeClass("is-active")'></div>
                <div class="modal-content">
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="field">
                                    <label class="label" for="input-name">이름</label>
                                    <p class="control">
                                        <input id="input-name" class="input"
                                               placeholder="홍길동" value="{{ user_info.profile_name }}">
                                    </p>
                                </div>
                                <div class="field">
                                    <label class="label" for="input-pic">프로필 사진</label>
                                    <div class="control is-expanded">
                                        <div class="file has-name">
                                            <label class="file-label" style="width:100%">
                                                <input id="input-pic" class="file-input" type="file" name="resume">
                                                <span class="file-cta"><span class="file-icon">
                                                    <i class="fa fa-upload"></i>
                                                </span>
                                                <span class="file-label">
                                                    파일 선택
                                                </span>
                                                </span>
                                                <span id="file-name" class="file-name"
                                                      style="width:100%;max-width:100%">{{ user_info.profile_pic }}</span>
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="textarea-about">나는 누구?</label>
                                    <p class="control">
                                        <textarea id="textarea-about" class="textarea"
                                                  placeholder="자기소개하기">{{ user_info.profile_info }}</textarea>
                                    </p>
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                    </div>
                                    <div class="level-right">
                                        <div class="level-item">
                                            <a class="button is-sparta" onclick="update_profile()">업데이트</a>
                                        </div>
                                        <div class="level-item">
                                            <a class="button is-sparta is-outlined"
                                               onclick='$("#modal-edit").removeClass("is-active")'>
                                                취소
                                            </a>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </article>
                    </div>
                </div>
                <button class="modal-close is-large" aria-label="close"
                        onclick='$("#modal-edit").removeClass("is-active")'></button>
            </div>

        {% endif %}
    </div>
</section>
<nav class="level">
    <p onclick="location.href='/happy'" class="level-item has-text-centered">
        <a class="font link is-info">HAPPY</a>
    </p>
    <p onclick="location.href='/angry'" class="level-item has-text-centered">
        <a class="font link is-info">ANGRY</a>
    </p>
    <div class="mypost" id="post-box">
        <div class="form-floating mb-3">
            <input id="url" type="email" class="form-control" placeholder="name@example.com">
            <label>유튜브 URL</label>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">기분</label>
            <select class="form-select" id="inputGroupSelect01">
                <option selected>-- 선택하기 --</option>
                <option value="기쁨">기쁨</option>
                <option value="분노">분노</option>
                <option value="슬픔">슬픔</option>
                <option value="즐거움">즐거움</option>
            </select>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" ></textarea>
            <label for="floatingTextarea2">코멘트</label>
        </div>
        <div class="mybtn">
            <button onclick="posting()" class="button is-outlined">완료</button>
            <button onclick="close_box()" class="button is-outlined">닫기</button>
        </div>
    </div>
    <p onclick="location.href='/'" class="level-item has-text-centered">
        <a class="font link is-info">SAD</a>
    </p>
    <p onclick="location.href='/joy'" class="level-item has-text-centered">
        <a class="font link is-info">JOY</a>
    </p>
</nav>

{#  <div class="category">#}
{#    <button onclick="location.href='/happy'" type="button" class="btn btn-primary">기쁨</button>#}
{#    <button onclick="location.href='/angry'" type="button" class="btn btn-danger">분노</button>#}
{#    <button onclick="location.href='/'" type="button" class="btn btn-warning">슬픔</button>#}
{#    <button onclick="location.href='/joy'" type="button" class="btn btn-light">즐거움</button>#}
{#  </div>#}
<div class="wrap">
    <div id="cards-box" class="row row-cols-1 row-cols-md-4 g-4" >
    </div>
</div>
</body>
{#<body class="has-navbar-fixed-top">#}
{#<nav class="navbar is-fixed-top is-white" role="navigation" aria-label="main navigation">#}
{#    <div class="navbar-brand">#}
{#        <a class="navbar-item" href="/">#}
{#            <img src="{{ url_for('static', filename='logo.png') }}">#}
{#            <strong class="is-sparta"#}
{#                    style="font-family: 'Stylish', sans-serif;font-size: larger;">희노애락</strong>#}
{#        </a>#}
{#    </div>#}
{#</nav>#}
{#<section class="hero is-info">#}
{#    <div class="hero-body" style="padding-bottom:1rem;margin:auto;min-width: 400px">#}
{#        <article class="media">#}
{#            <figure class="media-left" style="align-self: center">#}
{#                <a class="image is-96x96" href="#">#}
{#                    <img class="is-rounded" src="{{ url_for('static', filename=user_info.profile_pic_real) }}">#}
{#                </a>#}
{#            </figure>#}
{#            <div class="media-content">#}
{#                <div class="content">#}
{#                    <p>#}
{#                        <strong>{{ user_info.profile_name }}</strong> <small>@{{ user_info.username }}</small>#}
{#                        <br>#}
{#                        {{ user_info.profile_info }}#}
{#                    </p>#}
{#                </div>#}
{##}
{#            </div>#}
{#        </article>#}
        {# ############# 아래는 모달 프로틸 기능 ############### #}

        {# ############# 위는 모달 프로틸 기능 ############### #}
{#    </div>#}
{#</section>#}
{#<section class="section">#}
{#<div class="wrap">#}
{#    <div id="cards-box" class="row row-cols-1 row-cols-md-4 g-4" >#}
{#    </div>#}
{#</div>#}
{#</section>#}
{#</body>#}
</html>